/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}


header{
  padding: 3em 1.5em;
  align-items: center;
  border-bottom: 0.7em;
  border-color: #064601;
  border-style: solid;
  background-color: #FFF;
}

header h1, header div h3 a {
  color: #075700;
}

nav {
  padding: 1.2em;
  background-color: #FBFBFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #075700;
}

nav #categories {
  width: 75%;
}

nav #categories {
  display: flex;
  justify-content: space-around;
}

nav #categories li {
  padding: 1.5em 0;
}

nav a {
  text-decoration: none;
  color: #075700;
}

footer {
  background-color: #064601;
  margin: 0;
  color: white;
}
footer ul{
  display: flex;
  justify-content: space-around;
  padding: 4em 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  padding: 0.7em;
}

header a{
  text-decoration: none;
  color: black;
}

main {
  display: grid;
}

#category {
  text-align: center;
  padding-bottom: 6em;
}

img {
  width: 100%;
}

figure {
  padding-bottom: 1em;
}

li {
  list-style: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, th {
  border: 1px solid #d0dfce;
  text-align: left;
  padding: 24px 8px;
}

tr:nth-child(even) {
  background-color: #d0dfce;
}

.item:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a:hover {
  color: rgb(50, 96, 10);
  cursor: pointer;
}

/* CATALOGUE */

.catalogue figure{
  padding: 1em 1em;
}

.catalogue figcaption{
  text-align: center;
}

/* SELECTION  */

#selection {
  text-align: center;
}

#selection h1, #selection h3, #selection p {
  padding-bottom: 0.2em;
}

#selection h2 {
  padding-top: 1.2em;
  padding-bottom: 0.5em;
}

#selection ul {
  display: flex;
  justify-content: space-around;
}

#selection li {
  border-width: 0.1em;
  border-color: black;
  border-style: groove;
  padding: 0.3em;
}

#selection li:hover {
  border-color: red;
  color: red;
}

.account_page {
  display: flex;
  justify-content: center;
  margin: 4em 0;
}

.account_links {
  width: 40%;
}

.account_links div h3 a{
  text-align: center;
  color: black;
}


#item {
  width: 26%;
}

#item img {
  width: 80%;
}

#item-details {
  padding-top: 4em;
  text-align: center;
}

#item-account {
  display: flex;
  justify-content: space-between;
  background-color: #d0dfce;
  align-items: center;
  padding: 0.5em;
  border-style: solid;
  border-width: 1px;
  width: 60%;
  margin: 3em auto;
}

#item-account img {
  width: 10%;
}

#watching {
  display: flex;
  justify-content: space-around;
  background-color: #d0dfce;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  width: 60%;
  margin: 3em auto;
}

#watching div {
  border-style: solid;
  border-width: 1px;
}

#buy {
  background-color: #d0dfce;
  align-items: center;
  padding-top: 0.5em;
  margin-bottom: 3em;
  text-align: center;
  width: 60%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
}

#buy h3{
  font-size: 2em;
}

#buy-now {
  border-top: black;
  border-style: solid;
  margin-top: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}

#buy-now:hover {
  color: #d0dfce;
  background-color: #064601;
}

/* FIRST MEDIA QUEREY */
@media screen and (min-width: 42rem) {
  header {
      display: flex;
      justify-content: space-between;
      height: 5em;
  }

  header ul {
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
      padding-left: 6em;
      margin-bottom: 0;
  }

  main {
      padding: 0.5em 2em;
  }   

  figcaption {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0.3em 0 0;
  }

  /* CATALOGUE PAGES */
  .catalogue {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
  }
  .catalogue figure{
      width: 46%;
      padding: 2em 0.5em;
      align-items: center;
  }
  .catalogue img {
      width: 80%;
      height: auto;
  }


 
@media screen and (min-width: 62rem) {

  /* CATALOGUE PAGES */
  .catalogue {
      display: flex;
      justify-content: space-evenly;
  }
  .catalogue figure{
      width: 20%;
      align-items: center;
      margin: 1em 3em;
      border-width: 1px;
      border-style: solid;
      border-color: #a8b3a6;
  }

  #category {
      display: flex;
      justify-content: space-between;
      padding: 6em 7em 6em 7em;
  }
  #category div {
      width: 48%;
  }
}
}